In [29]:
rock_scissors_paper = ['rock','scissors','data']
player1='rock'
player2='scissors'
if player1==player2:
    print('Even!')
elif player1=='rock':
    if player2=='scissors':
        print('Player1 wins')
    else:
        print('player2 wins')
elif player1== 'scissors':
    if player2=='paper':
        print('player1 wins')
    else:
        print('player2 wins')
elif player1== 'paper':
    if player2=='rock':
        print('player1 wins')
    else:
        print('player2 wins')

Player1 wins

In [50]:
import numpy as np
def play(player1):
    index2=np.random.randint(0,3)
    player2=rock_scissors_paper[index2]
    return player2

In [107]:
play('a')

'scissors'

In [125]:
'''Standard_Scaler'''

'Standard_Scaler'

In [113]:
import numpy as np
a=np.array([1,2,3,4,5])
z=(a-np.mean(a))/np.std(a)
z

array([-1.41421356, -0.70710678,  0.        ,  0.70710678,  1.41421356])

In [112]:
np.std(z)

0.9999999999999999

In [110]:
np.mean(z)

0.0

In [123]:
!pip install scikit-learn
from sklearn.preprocessing import StandardScaler

Requirement already satisfied: scikit-learn in c:\users\mahen\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mahen\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\mahen\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\mahen\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in c:\users\mahen\anaconda3\lib\site-packages (from scikit-learn) (1.9.1)

In [ ]:
'''Splitting the dataset'''

In [164]:
import pandas as pd
import os

In [165]:
pwd

'c:\\Users\\mahen\\OneDrive\\Desktop\\test\\Pandas\\Matplotlib'

In [168]:
df=pd.read_csv(r'c:\\Users\\mahen\\OneDrive\\Desktop\\diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [171]:
X=df.drop('Outcome', axis=1)
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [173]:
y=df['Outcome']
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [175]:
from sklearn.model_selection import train_test_split
X_train, y_train, X_test, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [189]:
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
464,10,115,98,0,0,24.0,1.022,34
223,7,142,60,33,190,28.8,0.687,61
393,4,116,72,12,87,22.1,0.463,37
766,1,126,60,0,0,30.1,0.349,47
570,3,78,70,0,0,32.5,0.270,39
...,...,...,...,...,...,...,...,...
71,5,139,64,35,140,28.6,0.411,26
106,1,96,122,0,0,22.4,0.207,27
270,10,101,86,37,0,45.6,1.136,38
435,0,141,0,0,0,42.4,0.205,29
102,0,125,96,0,0,22.5,0.262,21

In [185]:
y_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
668,6,98,58,33,190,34.0,0.430,43
324,2,112,75,32,0,35.7,0.148,21
624,2,108,64,0,0,30.8,0.158,21
690,8,107,80,0,0,24.6,0.856,34
473,7,136,90,0,0,29.9,0.210,50
...,...,...,...,...,...,...,...,...
311,0,106,70,37,148,39.4,0.605,22
429,1,95,82,25,180,35.0,0.233,43
182,1,0,74,20,23,27.7,0.299,21
586,8,143,66,0,0,34.9,0.129,41
679,2,101,58,17,265,24.2,0.614,23

In [ ]:
'''KFold Cross validation'''

In [190]:
from sklearn.model_selection import KFold

In [191]:
kf= KFold(n_splits=2, shuffle=True)

In [192]:
kf.split(X)

In [196]:
for train, val in kf.split(X):
    print('Training indices:', train)
    print(len(train))
    print('Validation indices:', val)
    print(len(val))

Training indices: [  0   2   3   4   7   9  11  12  14  15  17  18  20  23  27  28  29  30
  31  34  36  37  39  42  43  44  46  47  48  49  50  53  54  55  57  61
  63  69  71  73  75  81  83  86  87  88  89  90  91  92  94  95  96  97
  98 104 105 106 108 109 111 116 119 120 121 125 129 131 133 136 137 138
 140 141 142 145 152 153 155 156 158 160 162 163 167 172 174 175 178 179
 181 182 183 189 190 192 193 197 199 200 207 209 211 213 214 215 216 217
 219 222 223 225 236 239 245 247 248 249 253 260 261 263 264 265 266 267
 268 271 273 274 276 277 279 280 281 283 286 287 288 289 292 293 294 295
 298 300 301 303 304 305 312 315 317 318 319 322 323 324 325 326 327 328
 329 330 333 337 338 339 340 344 346 350 352 353 354 355 356 357 358 359
 362 364 365 366 367 369 371 374 377 378 379 380 381 382 383 386 388 389
 392 393 395 397 398 399 400 402 404 411 412 413 415 416 417 418 419 420
 422 424 425 427 429 431 433 434 435 436 438 439 440 443 446 448 449 450
 453 454 456 460 461 462 470 471 473 474 476 480 482 483 484 487 488 489
 491 492 493 494 495 498 499 502 504 505 506 510 511 514 515 516 517 519
 520 521 523 525 526 528 529 531 532 533 534 535 538 540 541 542 543 544
 546 549 552 554 560 561 562 563 564 565 566 568 569 570 571 572 574 575
 576 581 582 583 585 587 588 591 596 600 601 602 605 606 607 608 611 614
 615 617 621 622 623 625 629 632 633 634 635 637 644 646 651 653 654 656
 659 661 665 666 672 676 679 681 684 687 690 693 696 697 700 702 703 704
 707 711 712 714 715 717 721 733 734 739 740 743 744 747 748 752 753 755
 756 758 760 761 763 765]
384
Validation indices: [  1   5   6   8  10  13  16  19  21  22  24  25  26  32  33  35  38  40
  41  45  51  52  56  58  59  60  62  64  65  66  67  68  70  72  74  76
  77  78  79  80  82  84  85  93  99 100 101 102 103 107 110 112 113 114
 115 117 118 122 123 124 126 127 128 130 132 134 135 139 143 144 146 147
 148 149 150 151 154 157 159 161 164 165 166 168 169 170 171 173 176 177
 180 184 185 186 187 188 191 194 195 196 198 201 202 203 204 205 206 208
 210 212 218 220 221 224 226 227 228 229 230 231 232 233 234 235 237 238
 240 241 242 243 244 246 250 251 252 254 255 256 257 258 259 262 269 270
 272 275 278 282 284 285 290 291 296 297 299 302 306 307 308 309 310 311
 313 314 316 320 321 331 332 334 335 336 341 342 343 345 347 348 349 351
 360 361 363 368 370 372 373 375 376 384 385 387 390 391 394 396 401 403
 405 406 407 408 409 410 414 421 423 426 428 430 432 437 441 442 444 445
 447 451 452 455 457 458 459 463 464 465 466 467 468 469 472 475 477 478
 479 481 485 486 490 496 497 500 501 503 507 508 509 512 513 518 522 524
 527 530 536 537 539 545 547 548 550 551 553 555 556 557 558 559 567 573
 577 578 579 580 584 586 589 590 592 593 594 595 597 598 599 603 604 609
 610 612 613 616 618 619 620 624 626 627 628 630 631 636 638 639 640 641
 642 643 645 647 648 649 650 652 655 657 658 660 662 663 664 667 668 669
 670 671 673 674 675 677 678 680 682 683 685 686 688 689 691 692 694 695
 698 699 701 705 706 708 709 710 713 716 718 719 720 722 723 724 725 726
 727 728 729 730 731 732 735 736 737 738 741 742 745 746 749 750 751 754
 757 759 762 764 766 767]
384
Training indices: [  1   5   6   8  10  13  16  19  21  22  24  25  26  32  33  35  38  40
  41  45  51  52  56  58  59  60  62  64  65  66  67  68  70  72  74  76
  77  78  79  80  82  84  85  93  99 100 101 102 103 107 110 112 113 114
 115 117 118 122 123 124 126 127 128 130 132 134 135 139 143 144 146 147
 148 149 150 151 154 157 159 161 164 165 166 168 169 170 171 173 176 177
 180 184 185 186 187 188 191 194 195 196 198 201 202 203 204 205 206 208
 210 212 218 220 221 224 226 227 228 229 230 231 232 233 234 235 237 238
 240 241 242 243 244 246 250 251 252 254 255 256 257 258 259 262 269 270
 272 275 278 282 284 285 290 291 296 297 299 302 306 307 308 309 310 311
 313 314 316 320 321 331 332 334 335 336 341 342 343 345 347 348 349 351
 360 361 363 368 370 372 373 375 376 384 385 387 390 391 394 396 401 403
 405 406 407 408 409 410 414 421 423 426 428 430 432 437 441 442 444 445
 447 451 452 455 457 458 459 463 464 465 466 467 468 469 472 475 477 478
 479 481 485 486 490 496 497 500 501 503 507 508 509 512 513 518 522 524
 527 530 536 537 539 545 547 548 550 551 553 555 556 557 558 559 567 573
 577 578 579 580 584 586 589 590 592 593 594 595 597 598 599 603 604 609
 610 612 613 616 618 619 620 624 626 627 628 630 631 636 638 639 640 641
 642 643 645 647 648 649 650 652 655 657 658 660 662 663 664 667 668 669
 670 671 673 674 675 677 678 680 682 683 685 686 688 689 691 692 694 695
 698 699 701 705 706 708 709 710 713 716 718 719 720 722 723 724 725 726
 727 728 729 730 731 732 735 736 737 738 741 742 745 746 749 750 751 754
 757 759 762 764 766 767]
384
Validation indices: [  0   2   3   4   7   9  11  12  14  15  17  18  20  23  27  28  29  30
  31  34  36  37  39  42  43  44  46  47  48  49  50  53  54  55  57  61
  63  69  71  73  75  81  83  86  87  88  89  90  91  92  94  95  96  97
  98 104 105 106 108 109 111 116 119 120 121 125 129 131 133 136 137 138
 140 141 142 145 152 153 155 156 158 160 162 163 167 172 174 175 178 179
 181 182 183 189 190 192 193 197 199 200 207 209 211 213 214 215 216 217
 219 222 223 225 236 239 245 247 248 249 253 260 261 263 264 265 266 267
 268 271 273 274 276 277 279 280 281 283 286 287 288 289 292 293 294 295
 298 300 301 303 304 305 312 315 317 318 319 322 323 324 325 326 327 328
 329 330 333 337 338 339 340 344 346 350 352 353 354 355 356 357 358 359
 362 364 365 366 367 369 371 374 377 378 379 380 381 382 383 386 388 389
 392 393 395 397 398 399 400 402 404 411 412 413 415 416 417 418 419 420
 422 424 425 427 429 431 433 434 435 436 438 439 440 443 446 448 449 450
 453 454 456 460 461 462 470 471 473 474 476 480 482 483 484 487 488 489
 491 492 493 494 495 498 499 502 504 505 506 510 511 514 515 516 517 519
 520 521 523 525 526 528 529 531 532 533 534 535 538 540 541 542 543 544
 546 549 552 554 560 561 562 563 564 565 566 568 569 570 571 572 574 575
 576 581 582 583 585 587 588 591 596 600 601 602 605 606 607 608 611 614
 615 617 621 622 623 625 629 632 633 634 635 637 644 646 651 653 654 656
 659 661 665 666 672 676 679 681 684 687 690 693 696 697 700 702 703 704
 707 711 712 714 715 717 721 733 734 739 740 743 744 747 748 752 753 755
 756 758 760 761 763 765]
384

In [197]:
X.loc[train]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
1,1,85,66,29,0,26.6,0.351,31
5,5,116,74,0,0,25.6,0.201,30
6,3,78,50,32,88,31.0,0.248,26
8,2,197,70,45,543,30.5,0.158,53
10,4,110,92,0,0,37.6,0.191,30
...,...,...,...,...,...,...,...,...
759,6,190,92,0,0,35.5,0.278,66
762,9,89,62,0,0,22.5,0.142,33
764,2,122,70,27,0,36.8,0.340,27
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [198]:
X.loc[val]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
7,10,115,0,0,0,35.3,0.134,29
...,...,...,...,...,...,...,...,...
758,1,106,76,0,0,37.5,0.197,26
760,2,88,58,26,16,28.4,0.766,22
761,9,170,74,31,0,44.0,0.403,43
763,10,101,76,48,180,32.9,0.171,63
765,5,121,72,23,112,26.2,0.245,30

In [200]:
y.loc[train]

1      0
5      0
6      1
8      1
10     0
      ..
759    1
762    0
764    0
766    1
767    0
Name: Outcome, Length: 384, dtype: int64

In [201]:
y.loc[val]

0      1
2      1
3      0
4      1
7      0
      ..
758    0
760    0
761    1
763    0
765    0
Name: Outcome, Length: 384, dtype: int64