In [10]:
import pandas as pd

In [28]:
df=pd.DataFrame([['Mahendar','John','Himanth','Vinay','Shyam'], ['True', 'True', 'True', 'True', 'True']])

In [29]:
df

          0     1        2      3      4
0  Mahendar  John  Himanth  Vinay  Shyam
1      True  True     True   True   True