In [1]:
import pandas as pd

In [17]:
df=pd.DataFrame({'animals':['dog','cat','dog','car','car', 'beaver'],'size':[3,2,3,2,1,5]})

In [18]:
df

  animals  size
0     dog     3
1     cat     2
2     dog     3
3     car     2
4     car     1
5  beaver     5

In [9]:
df.animals.unique()

array(['dog', 'cat', 'car', 'beaver'], dtype=object)

In [12]:
y=pd.get_dummies(df.animals,prefix='data')

In [13]:
y

   data_beaver  data_car  data_cat  data_dog
0            0         0         0         1
1            0         0         1         0
2            0         0         0         1
3            0         1         0         0
4            0         1         0         0
5            1         0         0         0

In [16]:
pd.concat([df.drop('animals',axis=1),y])

   size  data_beaver  data_car  data_cat  data_dog
0   3.0          NaN       NaN       NaN       NaN
1   2.0          NaN       NaN       NaN       NaN
2   3.0          NaN       NaN       NaN       NaN
3   2.0          NaN       NaN       NaN       NaN
4   1.0          NaN       NaN       NaN       NaN
5   5.0          NaN       NaN       NaN       NaN
0   NaN          0.0       0.0       0.0       1.0
1   NaN          0.0       0.0       1.0       0.0
2   NaN          0.0       0.0       0.0       1.0
3   NaN          0.0       1.0       0.0       0.0
4   NaN          0.0       1.0       0.0       0.0
5   NaN          1.0       0.0       0.0       0.0

In [19]:
'''Stratification in Python'''

'Stratification in Python'

In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [22]:
X=np.random.rand(100)

In [23]:
y=np.zeros(100)

In [25]:
y[np.random.randint(0,50,size=[20])]=1

In [28]:
y[np.random.randint(50,100, size=[10])]=2

In [29]:
y

array([1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1.,
       0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0., 1., 2.,
       2., 0., 0., 0., 2., 0., 0., 2., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       2., 2., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 2.,
       0., 0., 0., 0., 0., 2., 0., 0., 2., 0., 0., 0., 0., 0., 0.])

In [32]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.3)

In [35]:
pd.Series(y_train).value_counts()

0.0    55
1.0     9
2.0     6
dtype: int64

In [36]:
pd.Series(y_test).value_counts()

0.0    20
1.0     7
2.0     3
dtype: int64

In [37]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.3, stratify=y)

In [38]:
pd.Series(y_train).value_counts()

0.0    53
1.0    11
2.0     6
dtype: int64

In [39]:
pd.Series(y_test).value_counts()

0.0    22
1.0     5
2.0     3
dtype: int64